<div>

  
  <mat-card style="margin-top:5%;padding-bottom:5%"> 
  <h1>Szablon oceny pracownika </h1>

  <div>
    
    
      <!-- <table mat-table [dataSource]="template.fields" class="mat-elevation-z8">
          <ng-container matColumnDef="label">
              <th mat-header-cell *matHeaderCellDef> No. </th>
              <td mat-cell *matCellDef="let element"> {{element.label}} </td>
          </ng-container>
          
          <ng-container matColumnDef="enableDesc">
              <th mat-header-cell *matHeaderCellDef> No. </th>
              <td mat-cell *matCellDef="let element"> {{element.enableDesc}} </td>
          </ng-container>
            

          <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
          <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
      </table> -->

      <div style="margin-left:25%">
        <mat-list role="list" *ngFor="let field of template.fields">
            <mat-list-item role="listitem">{{field.label}}  {{field.enableDesc}}</mat-list-item> 
        </mat-list>
    </div>

    <div id="newFieldInput">
      <form class="example-form">
      
      <mat-form-field class="example-full-width">
        <input matInput type="text" placeholder="Nazwa pola" name="label" [(ngModel)]="newField.label">
      </mat-form-field>

      <div>
        <mat-checkbox [(ngModel)]="newField.enableDesc" name="desc">Czy umożliwić dodawanie opisu?</mat-checkbox>
      </div>  

      <button mat-button (click)="addField()">Dodaj</button>

    </form>

    </div>


    <div style="margin-top: 10%">
      <button mat-button (click)="saveTemplate()">Zapisz szablon</button>
    </div>

  </div>
 
  </mat-card>

</div>