<!--The content below is only a placeholder and can be replaced.-->
<div style="text-align:center">
   
<h1>System oceny pracowników</h1>

<nav mat-tab-nav-bar> 
        <a mat-tab-link
        *ngFor="let link of navLinks"
        [routerLink]="link.link"
        routerLinkActive #rla="routerLinkActive"
        [routerLinkActiveOptions]="{exact:true}"
        [active]="rla.isActive">
                {{link.label}}
        </a>
</nav>
<!-- <button mat-raised-button
class="example-add-tab-button"
(click)="addTab()">
Add new tab
</button>           -->

<router-outlet></router-outlet>
