
<div>
  <mat-card> 
  <h1 style="text-align: center">Dodaj pracownika</h1>

  <div>

    <form class="example-form">
        
      <mat-form-field class="example-full-width">
        <input matInput placeholder="Favorite food" value="Sushi">
      </mat-form-field>
      
      <mat-form-field class="example-full-width">
        <input matInput placeholder="Favorite food" value="Sushi">
      </mat-form-field>
    
      <button mat-button onclick="createEmployee()">Dodaj</button>
    </form>

  </div>
 
  </mat-card>
</div>